<!DOCTYPE html>
<html> 
    <body>
        <form method="post" action="/predict">
        <input type="number" name="age" placeholder="age" required="required">
        <input type="number" name="gender" placeholder="gender" required="required">
        <input type="number" name="rest_cp" placeholder="rest_cp" required="required">
        <input type="number" name="rest_bp" placeholder="rest_bp" required="required">
        <input type="number" name="cholesterol" placeholder="cholesterol" required="required">
        <input type="number" name="fast_bloodsugar" placeholder="fast_bloodsugar" required="required">
        <input type="number" name="rest_ecg" placeholder="rest_ecg" required="required">
        <input type="number" name="stress_HR" placeholder="stress_HR" required="required">
        <input type="number" name="Exercise_cp" placeholder="Exercise_cp" required="required">
        <input type="number" name="STdepression_Exerc" placeholder="STdepression_Exerc" required="required">
        <input type="number" name="STpeak_exerc" placeholder="STpeak_exerc" required="required">
        <input type="number" name="coloured_vessels" placeholder="coloured_vessels" required="required">
        <input type="number" name="thalassmia" placeholder="thalassmia" required="required">
        <button>Submit</button>
        </form>
    </body>
</html>